/target/classes/davidul/problems/codingame/PowerOfThor.class
/target/classes/davidul/problems/codingame/SpaceShip.class
/target/classes/davidul/problems/monk/arrays/MonkRotation.class
/target/classes/davidul/problems/PandaChainReaction.class
/target/classes/davidul/utils/ArrayUtils.class
/target/classes/davidul/utils/NumberBase.class
/target/classes/davidul/utils/Tuple.class
/target/test-classes/davidul/utils/ArrayUtilsTest.class
/target/test-classes/davidul/utils/NumberBaseTest.class
